div.poster {
    margin: 10px;
}

.bigPicture {
    margin-top: 3rem;
    float: right;
    height: 40rem;
}

.title {
    margin-top: 5rem;
}

.colPoster {
    display: flex;
    justify-content: space-evenly;
}